<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.utaste">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">


        <activity
            android:name=".ui.QrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.ChangePasswordActivity"
            android:exported="false" />

        <activity android:name=".ui.AdminMenuActivity"
            android:exported="false" />

        <activity android:name=".ui.ChefMenuActivity"
            android:exported="false" />

        <activity android:name=".ui.WaiterMenuActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.waiter.WaiterListActivity"
            android:exported="false"
            android:label="Manage Waiters"/>

        <activity
            android:name=".ui.admin.waiter.WaiterFormActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.admin.AdminActivity"
        android:exported="false"/>
        <activity
            android:name=".ui.recipe.RecipeActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.chef.IngredientInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.waiter.IngredientActivity"
            android:exported="false" />
    </application>
</manifest>
